<!DOCTYPE HTML>
<html>
  <head>
    <title>Day Tracker</title>
    <style>
      table, tr, th, td{
        border-collapse: collapse;
        border: 1px solid black;
      }
      th{
        text-align: center;
      }
      tr, th{
        padding: 1%;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Time</th>
        <th>Time Passed</th>
        <th>Remove</th>
      </tr>

      <% for(var i = 0; i <= results.length - 1; i++){ %>
        <tr>
          <td><%= results[i].time_checked %></td>
          <td><%= results[i].time_passed %></td>
          <td>
            <form action='/deleteTime/<%= results[i].id %>' method='POST'>
              <button>Delete</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
